<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--本机环境-->
      <file value="Log\\catlina.log"/>
      <!--测试环境-->
      <!--<file value="/home/hbtm/jexus-8681/log/jws.log" />-->
      <!--正式环境-->
      <!--<file value="/home/hbtm/jexus-8683/log/jws.log" />-->
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="500MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <connectionStrings>
    <!--小纬六测试环境-->
    <add name="sqlDB"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.15)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=c##hbtm2;Password=hbtm1234;"/>
    <!--徳亨测试环境-->
    <!--<add name="sqlDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.8.106)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=c##hbtm2;Password=hbtm1234;"/>-->
    <!--正式环境-->
    <!--<add name="sqlDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=((ADDRESS=(PROTOCOL=TCP)(HOST=172.17.200.8)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=172.17.200.6)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=172.17.200.2)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=172.17.200.4)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=172.17.200.10)(PORT=1521))))(CONNECT_DATA=(SERVICE_NAME=hbtm)));Persist Security Info=True;User ID=pro_admuser;Password=4w3UPgC2;"/>-->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <appSettings>
    <add key="SOURCESYSTEMID" value="SCM"/>
    <add key="SOURCESYSTEMNAME" value="供应链系统"/>
  </appSettings>
</configuration>
